<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>accodeon</title>
    <link rel="stylesheet" href="vendor/material-design/angular-material.css">
    <link rel="stylesheet" href="vendor/material-design/themes/indigo-theme.css">
    <link rel="stylesheet" href="vendor/material-design/themes/yellow-theme.css">
    <link rel="stylesheet" href="gui/main.css">

    <script src="vendor/ace/src-min-noconflict/ace.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-aria/angular-aria.js"></script>
    <script src="vendor/hammerjs/hammer.js"></script>
    <script src="vendor/material-design/angular-material.js"></script>
    <script src="vendor/angular-ui-ace/ui-ace.js"></script>
    <script src="gui/main.js"></script>
</head>
<body ng-app="accodeon" layout="horizontal">
    <md-sidenav class="left-side md-sidenav-left md-whiteframe-z2"
                layout="vertical"
                component-id="available-files">
        <md-toolbar class="md-small-tall md-indigo-theme">
            <h1 class="md-toolbar-tools">available files</h1>
        </md-toolbar>

        <md-content class="md-default-theme available-file-list"
                    layout-padding
                    layout="vertical"
                    ng-controller="availableFilesCtrl">
            <md-button ng-repeat="file in availableFiles" aria-label="{{ file }}">
                <div>{{ file.name }}</div>
                <div><small>{{ file.author }} &mdash; {{ file.date | date:'yyyy-MM-dd HH:mm:ss' }}</small></div>
            </md-button>
        </md-content>
    </md-sidenav>

    <div class="right-side"
         layout="vertical"
         layout-fill role="main"
         ng-controller="tabsCtrl">

        <md-toolbar md-theme="default">
            <div layout="row">
                <h2 flex class="md-toolbar-tools">
                    <span>accodeon</span>
                </h2>
                <div flex layout="column" class="layout-content">
                    <md-button aria-label="New"
                               ng-click="addTab('untitled', '// Place your code here...')">New</md-button>
                    <md-button aria-label="Open"
                               ng-click="toggleAvailableFiles()">Open</md-button>
                    <md-button aria-label="Save"
                               ng-click="saveTab()">Save</md-button>
                </div>
            </div>
        </md-toolbar>

        <md-tabs layout-fill selected="selectedIndex" class="md-indigo-theme file-tabs">
            <md-tab ng-repeat="tab in tabs"
                    on-select="announceSelected(tab)"
                    on-deselect="announceDeselected(tab)"
                    ng-disabled="tab.disabled"
                    label="{{ tab.title }}">
                <md-content class="md-default-theme">
                    <div layout="row" flex class="layout-content">
                        <div class="acc-file-content" flex ui-ace="{
                          useWrapMode : true,
                          showGutter: true,
                          theme:'chrome',
                          mode: 'javascript',
                          firstLineNumber: 1,
                          onLoad: aceLoaded,
                        }" ng-model="tab.code"></div>
                        <div layout="vertical" flex class="layout-content">
                            <iframe frameborder="0" class="acc-file-result" ng-src="{{ tab.iframeSrc }}" flex sandbox="allow-scripts allow-popups"></iframe>
                            <pre class="acc-file-console" ng-class="{'acc-file-console-shown': consoleShown}" flex>{{ tab.log }}</pre>
                            <md-switch aria-label="Toggle console" ng-model="consoleShown">Show console</md-switch>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</body>
</html>
